body {
    background-color: #eefaa8;
    font-family: 'Rajdhani' sans-serif;
    margin: 80px;
}
header {
   background-color: #649ea7;
   text-align: center;
   border-width: 1px;
   border-color: #000000;
   border-style: solid;
}
table {
border-width: 1px;
border-color: #000000;
border-style: solid;
}
th{
    background-color:  #8fbfb9;
    font-weight: bold;
}
img {
    width: 900px;
    height: 900px;
}