@charset "UTF-8";

#container {
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    
    justify-content: space-evenly;
}
.itens{
    border: 1px solid #FF1493;
}

